In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
file=r'../data/loans data.csv'

In [3]:
import pandas as pd

In [4]:
from sklearn.ensemble import RandomForestRegressor

In [5]:
data=pd.read_csv(file)

In [6]:
data.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174.0,20000,20000,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14,14272,2.0,< 1 year
1,99592.0,19200,19200,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12,11140,1.0,2 years
2,80059.0,35000,35000,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14,21977,1.0,2 years
3,15825.0,10000,9975,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10,9346,0.0,5 years
4,33182.0,12000,12000,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11,14469,0.0,9 years

In [7]:
y=data['Interest.Rate'].str.replace('%','').astype(float)

In [8]:
x=data[['Amount.Requested','FICO.Range']]

In [9]:
temp=x['FICO.Range'].str.split('-',expand=True).astype(int)

In [10]:
x['fico']=(temp[0]+temp[1])/2

In [11]:
del temp
del x['FICO.Range']

In [12]:
x['Amount.Requested']=pd.to_numeric(x['Amount.Requested'],errors='coerce')

In [31]:
x.head()

   Amount.Requested   fico
0           20000.0  737.0
1           19200.0  717.0
2           35000.0  692.0
3           10000.0  697.0
4           12000.0  697.0

In [32]:
y

0        8.90
1       12.12
2       21.98
3        9.99
4       11.71
        ...
2495    16.77
2496    14.09
2497    13.99
2498    12.42
2499    13.79
Name: Interest.Rate, Length: 2500, dtype: float64

In [14]:
for col in x:
    x[col].fillna(x[col].mean(),inplace=True)

In [15]:
x.describe()

       Amount.Requested         fico
count       2500.000000  2500.000000
mean       12412.414830   707.888000
std         7797.762818    35.033161
min         1000.000000   642.000000
25%         6000.000000   682.000000
50%        10000.000000   702.000000
75%        17000.000000   727.000000
max        35000.000000   832.000000

In [13]:
rf=RandomForestRegressor(n_estimators=150,max_features=2,bootstrap=True)

In [16]:
rf.fit(x,y)

RandomForestRegressor(max_features=2, n_estimators=150)

In [17]:
# lets say we want to find out for what value of fico interest rate will be minimum if amount requested 
# is 10000

# for implementing a GA we'll need to implement some version of crossover and mutation 

# we'll sample 10 random values in the range of fico to start with use their average as the value which gives us optimal point 
# a list of 10 [it could be any other number ], will help us in implementing cross over and mutation
amount_requested=5000

In [18]:
def objective(values):
    
    data=[amount_requested,np.array(values).mean()]
    
    df=pd.DataFrame(data).T
    
    pred=rf.predict(df)[0]
    
    return(pred)

In [19]:
import numpy as np

In [20]:
objective(np.random.randint(1,100,10))

15.949897777777762

In [21]:
def obj_pop(population):
    scores=[]
    
    for values in population:
        
        scores.append([values,objective(values)])
    return(scores)

In [22]:
def select_top_6(population):
    
    scores=obj_pop(population)
#     print(scores)
    scores.sort(key=lambda x:x[1])
#     print(scores)
    selected=scores[:6]
    return(selected)

In [23]:
def crossover_mutate(parents):
    
    pairs=[(0,5),(1,4),(2,3)]
    
    # this can be made random
    # every pair of parents makes a child , half of child's gene/values
    # come from one parent and rest come from another 
    # then some random values in child are mutated based on some probability threshold 
    # we have taken that to be 0.7
    children=[]
    data=parents.copy()
    
    for i,j in pairs:
        
        rand_ind=np.random.choice(range(10),5,replace=False)
        
        child=parents[i].copy()
        
        for ind in rand_ind:
            
            child[ind]=parents[j][ind]
            
        for ind2 in range(len(child)): # mutation
            
            if np.random.random()>0.7:
                child[ind2]=np.random.randint(500,850,1)
        
        children.append(child)
    return(children)

In [24]:
rand_ind=np.random.choice(range(10),5,replace=False)
rand_ind

array([1, 5, 0, 6, 4])

In [25]:
# we are starting with totally random values in the range
population=np.random.randint(500,850,size=(10,10))

In [26]:
population

array([[692, 721, 786, 834, 560, 795, 568, 837, 758, 789],
       [771, 795, 718, 698, 719, 748, 825, 547, 503, 837],
       [568, 791, 639, 755, 831, 531, 566, 838, 508, 679],
       [583, 640, 527, 534, 740, 638, 647, 849, 690, 513],
       [586, 662, 600, 604, 725, 805, 585, 737, 674, 645],
       [608, 833, 731, 791, 829, 841, 745, 825, 836, 618],
       [847, 609, 522, 754, 694, 560, 610, 813, 833, 623],
       [554, 734, 597, 712, 777, 844, 700, 681, 674, 794],
       [661, 838, 562, 764, 521, 758, 701, 593, 703, 638],
       [551, 761, 696, 525, 742, 686, 756, 670, 760, 592]])

In [27]:
num_gen=100

In [28]:
for _ in range(num_gen):
    
    scored_pop=select_top_6(population)
    
    best_score=scored_pop[0][1]
    
    print(best_score)
    
    parents=[x for x,_ in select_top_6(population)]
    
    # new population will be top 6 parents + 3 children and + 3 random member
    # as the new population evolves , we will reach to best possible outcome
    
    new_population=parents+crossover_mutate(parents)
    
    new_population.extend(np.random.randint(500,850,size=(3,10)))
    
    population=new_population

6.404199999999986
6.404199999999986
6.404199999999986
6.404199999999986
6.404199999999986
6.404199999999986
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.162311111111106
6.12086666666665
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323
6.076133333333323

In [29]:
best_value=select_top_6(population)[0][0].mean()

In [30]:
best_value

790.0