In [1]:
import warnings

import pandas as pd 
import numpy as np

from sklearn.pipeline import Pipeline,FeatureUnion
from sklearn.base import BaseEstimator, TransformerMixin

from mypipes import *

In [2]:
warnings.filterwarnings('ignore')

In [5]:
train_file=r'../data/loan_data_train.csv'
test_file=r'../data/loan_data_test.csv'

ld_train=pd.read_csv(train_file)
ld_test=pd.read_csv(test_file)

In [8]:
print(ld_train.shape)
print(ld_test.shape)

(2200, 15)
(300, 14)

In [9]:
ld_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              300 non-null    int64
 1   Amount.Requested                300 non-null    int64
 2   Amount.Funded.By.Investors      300 non-null    object
 3   Loan.Length                     300 non-null    object
 4   Loan.Purpose                    300 non-null    object
 5   Debt.To.Income.Ratio            300 non-null    object
 6   State                           300 non-null    object
 7   Home.Ownership                  300 non-null    object
 8   Monthly.Income                  300 non-null    float64
 9   FICO.Range                      300 non-null    object
 10  Open.CREDIT.Lines               300 non-null    object
 11  Revolving.CREDIT.Balance        300 non-null    int64
 12  Inquiries.in.the.Last.6.Months  300 non-null    int64
 13  Employment.Length               291 non-null    object
dtypes: float64(1), int64(4), object(9)
memory usage: 32.9+ KB

In [6]:
ld_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              2199 non-null   float64
 1   Amount.Requested                2199 non-null   object
 2   Amount.Funded.By.Investors      2199 non-null   object
 3   Interest.Rate                   2200 non-null   object
 4   Loan.Length                     2199 non-null   object
 5   Loan.Purpose                    2199 non-null   object
 6   Debt.To.Income.Ratio            2199 non-null   object
 7   State                           2199 non-null   object
 8   Home.Ownership                  2199 non-null   object
 9   Monthly.Income                  2197 non-null   float64
 10  FICO.Range                      2200 non-null   object
 11  Open.CREDIT.Lines               2196 non-null   object
 12  Revolving.CREDIT.Balance        2197 non-null   object
 13  Inquiries.in.the.Last.6.Months  2197 non-null   float64
 14  Employment.Length               2131 non-null   object
dtypes: float64(3), object(12)
memory usage: 257.9+ KB

In [7]:
ld_train.sample(10)

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
2173,26120.0,1200,1200,7.49%,36 months,other,17.88%,AL,OWN,1666.67,710-714,10,9154,0.0,10+ years
916,4211.0,20000,11800,11.48%,36 months,debt_consolidation,23.52%,AL,MORTGAGE,4166.67,745-749,11,24123,1.0,< 1 year
1166,84394.0,10450,10450,13.11%,36 months,debt_consolidation,21.33%,TX,RENT,2658.83,705-709,10,13371,1.0,10+ years
221,70321.0,11325,11325,12.12%,36 months,other,8.61%,TX,RENT,2833.33,725-729,3,9137,0.0,10+ years
39,73376.0,3000,3000,11.14%,36 months,small_business,1.70%,NY,MORTGAGE,7750.00,685-689,7,874,0.0,10+ years
59,60968.0,15000,15000,17.77%,36 months,debt_consolidation,13.34%,FL,MORTGAGE,4333.33,670-674,9,17264,0.0,10+ years
715,87162.0,20125,20125,18.49%,36 months,credit_card,11.08%,NY,MORTGAGE,8937.50,675-679,14,12418,0.0,2 years
1026,46748.0,30000,30000,22.78%,60 months,debt_consolidation,24.71%,CA,RENT,6041.67,690-694,12,39144,0.0,1 year
897,11620.0,3800,3800,11.12%,36 months,major_purchase,15.45%,PA,MORTGAGE,5416.67,700-704,11,9266,0.0,10+ years
337,73434.0,10800,10800,12.12%,36 months,debt_consolidation,26.70%,NJ,RENT,5833.33,695-699,6,27585,0.0,5 years

In [ ]:


# dont need : ID , Intereste.Rate (target variable)

# Amount requested : V1
# Amount.Funded.By.Investors : V2 
# Open.CREDIT.Lines : V3
# Revolving.CREDIT.Balance : V4

# convert it to numeric , and then impute missing values with median

# Debt.To.Income.Ratio : V5

# remove percentage sign , covert to numeric and then impute with median

# Loan.Length ,Loan.Purpose,State,Home.Ownership,Employment.Length
# V6-V10
# create dummies for these, considering frequency cutoff as 20

# Monthly.Income : V11,
# Inquiries.in.the.Last.6.Months :V12

# impute missing values with median

# FICO.Range : V13

# split the column at '-', convert the resulting columns to numeric(say a ,b) , 
# then create new column = (a+b)/2

In [ ]:
# pipe_name=pdPipeline([
#     ('name of the process',call to process),
#     ('name of the process', call to process),
#     .....
# ])

In [10]:
p1=pdPipeline([
    ('var_select',VarSelector(['Amount.Requested','Amount.Funded.By.Investors',
                               'Open.CREDIT.Lines','Revolving.CREDIT.Balance'])),
    ('convert_to_numeric',convert_to_numeric()),
    ('missing_trt',DataFrameImputer())
])

In [11]:
p2=pdPipeline([
    ('var_select',VarSelector(['Debt.To.Income.Ratio'])),
    ('string_clean',string_clean(replace_it='%',replace_with='')),
    ('convert_to_numeric',convert_to_numeric()),
    ('missing_trt',DataFrameImputer())
])

In [12]:
p3=pdPipeline([
    ('var_select',VarSelector(['Loan.Length', 'Loan.Purpose','State','Home.Ownership',
                               'Employment.Length'])),
    ('missing_trt',DataFrameImputer()),
    ('create_dummies',get_dummies_Pipe(20))
])

In [13]:
p4=pdPipeline([
    ('var_select',VarSelector(['Monthly.Income','Inquiries.in.the.Last.6.Months'])),
    ('missing_trt',DataFrameImputer())
])

In [14]:
p5=pdPipeline([
    ('var_select',VarSelector(['FICO.Range'])),
    ('custom_fico',custom_fico()),
    ('missing_trt',DataFrameImputer())
])

In [15]:
data_pipe=FeatureUnion([
    ('obj_to_num',p1),
    ('dtir',p2),
    ('obj_to_dum',p3),
    ('num',p4),
    ('fico',p5)
])

In [16]:
# fitting the pipelines on train dataset
data_pipe.fit(ld_train)

FeatureUnion(transformer_list=[('obj_to_num',
                                pdPipeline(steps=[('var_select',
                                                   VarSelector(feature_names=['Amount.Requested',
                                                                              'Amount.Funded.By.Investors',
                                                                              'Open.CREDIT.Lines',
                                                                              'Revolving.CREDIT.Balance'])),
                                                  ('convert_to_numeric',
                                                   convert_to_numeric()),
                                                  ('missing_trt',
                                                   DataFrameImputer())])),
                               ('dtir',
                                pdPipeline(steps=[('var_select',
                                                   VarSelector(feature_names=...
                                                  ('create_dummies',
                                                   get_dummies_Pipe(freq_cutoff=20))])),
                               ('num',
                                pdPipeline(steps=[('var_select',
                                                   VarSelector(feature_names=['Monthly.Income',
                                                                              'Inquiries.in.the.Last.6.Months'])),
                                                  ('missing_trt',
                                                   DataFrameImputer())])),
                               ('fico',
                                pdPipeline(steps=[('var_select',
                                                   VarSelector(feature_names=['FICO.Range'])),
                                                  ('custom_fico',
                                                   custom_fico()),
                                                  ('missing_trt',
                                                   DataFrameImputer())]))])

In [17]:
len(data_pipe.get_feature_names())

61

In [18]:
data_pipe.transform(ld_train).shape

(2200, 61)

In [21]:
ld_train.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years

In [20]:
x_train=pd.DataFrame(data=data_pipe.transform(ld_train),
                    columns=data_pipe.get_feature_names())
x_train.head()

,obj_to_num__Amount.Requested,obj_to_num__Amount.Funded.By.Investors,obj_to_num__Open.CREDIT.Lines,obj_to_num__Revolving.CREDIT.Balance,dtir__Debt.To.Income.Ratio,obj_to_dum__Loan.Length_36 months,obj_to_dum__Loan.Length_60 months,obj_to_dum__Loan.Purpose_debt_consolidation,obj_to_dum__Loan.Purpose_credit_card,obj_to_dum__Loan.Purpose_other,...,obj_to_dum__Employment.Length_4 years,obj_to_dum__Employment.Length_1 year,obj_to_dum__Employment.Length_6 years,obj_to_dum__Employment.Length_7 years,obj_to_dum__Employment.Length_8 years,obj_to_dum__Employment.Length_missing,obj_to_dum__Employment.Length_9 years,num__Monthly.Income,num__Inquiries.in.the.Last.6.Months,fico__fico
0,25000.0,25000.00,11.0,15210.0,27.56,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8606.56,3.0,722.0
1,19750.0,19750.00,14.0,19070.0,13.39,0.0,1.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6737.50,3.0,712.0
2,2100.0,2100.00,13.0,893.0,3.50,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.00,1.0,692.0
3,28000.0,28000.00,12.0,38194.0,19.62,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7083.33,1.0,712.0
4,24250.0,17431.82,6.0,31061.0,23.79,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5833.33,2.0,732.0

In [22]:
x_test=pd.DataFrame(data=data_pipe.transform(ld_test),
                    columns=data_pipe.get_feature_names())
x_test.head()

,obj_to_num__Amount.Requested,obj_to_num__Amount.Funded.By.Investors,obj_to_num__Open.CREDIT.Lines,obj_to_num__Revolving.CREDIT.Balance,dtir__Debt.To.Income.Ratio,obj_to_dum__Loan.Length_36 months,obj_to_dum__Loan.Length_60 months,obj_to_dum__Loan.Purpose_debt_consolidation,obj_to_dum__Loan.Purpose_credit_card,obj_to_dum__Loan.Purpose_other,...,obj_to_dum__Employment.Length_4 years,obj_to_dum__Employment.Length_1 year,obj_to_dum__Employment.Length_6 years,obj_to_dum__Employment.Length_7 years,obj_to_dum__Employment.Length_8 years,obj_to_dum__Employment.Length_missing,obj_to_dum__Employment.Length_9 years,num__Monthly.Income,num__Inquiries.in.the.Last.6.Months,fico__fico
0,5000.0,5000.0,13.0,7686.0,12.59,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4416.67,0.0,692.0
1,18000.0,18000.0,6.0,11596.0,4.93,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5258.50,0.0,712.0
2,7200.0,7200.0,13.0,7283.0,25.16,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3750.00,0.0,752.0
3,7200.0,7200.0,14.0,4838.0,17.27,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3416.67,0.0,792.0
4,22000.0,22000.0,9.0,20181.0,18.28,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,6083.33,0.0,722.0

In [23]:
x_train.shape

(2200, 61)

In [24]:
x_test.shape

(300, 61)

In [25]:
x_train.columns

Index(['obj_to_num__Amount.Requested',
       'obj_to_num__Amount.Funded.By.Investors',
       'obj_to_num__Open.CREDIT.Lines', 'obj_to_num__Revolving.CREDIT.Balance',
       'dtir__Debt.To.Income.Ratio', 'obj_to_dum__Loan.Length_36 months',
       'obj_to_dum__Loan.Length_60 months',
       'obj_to_dum__Loan.Purpose_debt_consolidation',
       'obj_to_dum__Loan.Purpose_credit_card',
       'obj_to_dum__Loan.Purpose_other',
       'obj_to_dum__Loan.Purpose_home_improvement',
       'obj_to_dum__Loan.Purpose_major_purchase',
       'obj_to_dum__Loan.Purpose_small_business',
       'obj_to_dum__Loan.Purpose_car', 'obj_to_dum__Loan.Purpose_wedding',
       'obj_to_dum__Loan.Purpose_medical', 'obj_to_dum__Loan.Purpose_moving',
       'obj_to_dum__State_CA', 'obj_to_dum__State_NY', 'obj_to_dum__State_FL',
       'obj_to_dum__State_TX', 'obj_to_dum__State_PA', 'obj_to_dum__State_IL',
       'obj_to_dum__State_GA', 'obj_to_dum__State_NJ', 'obj_to_dum__State_VA',
       'obj_to_dum__State_MA', 'obj_to_dum__State_NC', 'obj_to_dum__State_OH',
       'obj_to_dum__State_MD', 'obj_to_dum__State_CO', 'obj_to_dum__State_WA',
       'obj_to_dum__State_CT', 'obj_to_dum__State_AZ', 'obj_to_dum__State_MI',
       'obj_to_dum__State_AL', 'obj_to_dum__State_MN', 'obj_to_dum__State_MO',
       'obj_to_dum__State_NV', 'obj_to_dum__State_SC', 'obj_to_dum__State_WI',
       'obj_to_dum__State_OR', 'obj_to_dum__State_KS',
       'obj_to_dum__Home.Ownership_MORTGAGE',
       'obj_to_dum__Home.Ownership_RENT', 'obj_to_dum__Home.Ownership_OWN',
       'obj_to_dum__Employment.Length_10+ years',
       'obj_to_dum__Employment.Length_< 1 year',
       'obj_to_dum__Employment.Length_2 years',
       'obj_to_dum__Employment.Length_3 years',
       'obj_to_dum__Employment.Length_5 years',
       'obj_to_dum__Employment.Length_4 years',
       'obj_to_dum__Employment.Length_1 year',
       'obj_to_dum__Employment.Length_6 years',
       'obj_to_dum__Employment.Length_7 years',
       'obj_to_dum__Employment.Length_8 years',
       'obj_to_dum__Employment.Length_missing',
       'obj_to_dum__Employment.Length_9 years', 'num__Monthly.Income',
       'num__Inquiries.in.the.Last.6.Months', 'fico__fico'],
      dtype='object')

In [26]:
x_test.columns

Index(['obj_to_num__Amount.Requested',
       'obj_to_num__Amount.Funded.By.Investors',
       'obj_to_num__Open.CREDIT.Lines', 'obj_to_num__Revolving.CREDIT.Balance',
       'dtir__Debt.To.Income.Ratio', 'obj_to_dum__Loan.Length_36 months',
       'obj_to_dum__Loan.Length_60 months',
       'obj_to_dum__Loan.Purpose_debt_consolidation',
       'obj_to_dum__Loan.Purpose_credit_card',
       'obj_to_dum__Loan.Purpose_other',
       'obj_to_dum__Loan.Purpose_home_improvement',
       'obj_to_dum__Loan.Purpose_major_purchase',
       'obj_to_dum__Loan.Purpose_small_business',
       'obj_to_dum__Loan.Purpose_car', 'obj_to_dum__Loan.Purpose_wedding',
       'obj_to_dum__Loan.Purpose_medical', 'obj_to_dum__Loan.Purpose_moving',
       'obj_to_dum__State_CA', 'obj_to_dum__State_NY', 'obj_to_dum__State_FL',
       'obj_to_dum__State_TX', 'obj_to_dum__State_PA', 'obj_to_dum__State_IL',
       'obj_to_dum__State_GA', 'obj_to_dum__State_NJ', 'obj_to_dum__State_VA',
       'obj_to_dum__State_MA', 'obj_to_dum__State_NC', 'obj_to_dum__State_OH',
       'obj_to_dum__State_MD', 'obj_to_dum__State_CO', 'obj_to_dum__State_WA',
       'obj_to_dum__State_CT', 'obj_to_dum__State_AZ', 'obj_to_dum__State_MI',
       'obj_to_dum__State_AL', 'obj_to_dum__State_MN', 'obj_to_dum__State_MO',
       'obj_to_dum__State_NV', 'obj_to_dum__State_SC', 'obj_to_dum__State_WI',
       'obj_to_dum__State_OR', 'obj_to_dum__State_KS',
       'obj_to_dum__Home.Ownership_MORTGAGE',
       'obj_to_dum__Home.Ownership_RENT', 'obj_to_dum__Home.Ownership_OWN',
       'obj_to_dum__Employment.Length_10+ years',
       'obj_to_dum__Employment.Length_< 1 year',
       'obj_to_dum__Employment.Length_2 years',
       'obj_to_dum__Employment.Length_3 years',
       'obj_to_dum__Employment.Length_5 years',
       'obj_to_dum__Employment.Length_4 years',
       'obj_to_dum__Employment.Length_1 year',
       'obj_to_dum__Employment.Length_6 years',
       'obj_to_dum__Employment.Length_7 years',
       'obj_to_dum__Employment.Length_8 years',
       'obj_to_dum__Employment.Length_missing',
       'obj_to_dum__Employment.Length_9 years', 'num__Monthly.Income',
       'num__Inquiries.in.the.Last.6.Months', 'fico__fico'],
      dtype='object')